.quantity {
  font-size: 24px;
}

.title {
  color: grey;
}

.statistics {
  border-radius: 10px;
  box-shadow: 0 0 10px grey;
  font-size: 20px;
  width: 400px;
  height: 170px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.item {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  color: white;
}

.item > .label {
  color: white;
}

.item:nth-child(1) {
  background-color: red;
  border-bottom-left-radius: 10px;
}

.item:nth-child(2) {
  background-color: blue;
}

.item:nth-child(3) {
  background-color: green;
}

.item:nth-child(4) {
  background-color: orange;
  border-bottom-right-radius: 10px;
}

.statistics ul {
  /* This targets the ul element within .statistics */
  list-style-type: none; /* Removes default bullets */
  padding: 0; /* Removes default padding */
  display: flex; /* Enables flexbox layout */
}
